.DS_Store
/*.pem
/db.json
/app.json
/ec2.json
/ec2-db.json
/docker-compose.yml

/wordpress/wp-config.php
/wordpress/.ebextensions/default.config
/wordpress/wp-content/uploads/*
!/wordpress/wp-content/uploads/.htaccess

/mysql/data/*
/mysq/logs/*
