option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    memory_limit: 128M
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "Off"
    max_execution_time: 60
  aws:elb:listener:443:
    SSLCertificateId:
    ListenerProtocol: HTTPS
    InstancePort: 80

container_commands:
  01changePHP:
    command: sed -i "/PHP_DATE_TIMEZONE/ s/UTC/America\/New_York/" /etc/php.d/environment.ini
  01achangePHP:
    command: sed -i "/aws.php_date_timezone/ s/UTC/America\/New_York/" /etc/php.d/environment.ini
  02change_AWS_PHP:
    command: sed -i "/PHP_DATE_TIMEZONE/ s/UTC/America\/New_York/" /etc/httpd/conf.d/aws_env.conf
  03php_ini_set:
    command: sed -i "/date.timezone/ s/UTC/America\/New_York/" /etc/php.ini
  04apache_restrict_access:
    command: sed -i "/Require all granted/d" /etc/httpd/conf/httpd.conf

commands:
  01remove_local:
    command: "rm -rf /etc/localtime"
  02link_New_York:
    command: "ln -s /usr/share/zoneinfo/America/New_York /etc/localtime"
  03remove_old_crons:
    command: "rm -f /etc/cron.d/*.bak"
  99restart_http:
    command: sudo service httpd restart

# https://stackoverflow.com/questions/21878024/configure-apache-on-elastic-beanstalk
files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
            </If>

    "/etc/httpd/conf.d/www_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: | 
            RewriteEngine On
            <If "'%{HTTP_HOST}' !~ /^(www|dev|qa)\./">
            RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
            </If>

    "/etc/httpd/.htpasswd":
        mode: "000644"
        owner: root
        group: root
        content: |
            #user:password

    "/etc/httpd/conf.d/basic_auth_or_no_auth.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            <Directory "/var/www/html">
                #AuthType Basic
                #AuthName "My Protected Area"
                #AuthUserFile /etc/httpd/.htpasswd
                #Require valid-user
                #Require all granted
            </Directory>

    "/etc/cron.d/wordpress":
        mode: "000644"
        owner: root
        group: root
        content: |
            */30 * * * *  cd /var/www/html; php wp-cron.php >/dev/null 2>&1
